.foodList{
  width: 1375px;
  min-height: 490px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, 325px);
  grid-template-rows: repeat(auto-fit, 490px);
  gap: 25px;
}